@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply bg-white text-gray-900 font-sans;
}

body {
  @apply m-0 p-0;
  font-size: 26px; /* Imposta una dimensione di font base */
  line-height: 1.5; /* Spaziatura tra le righe */
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold leading-tight;
}

h1 {
  @apply text-4xl mb-4; /* Dimensione e margine inferiore */
}

h2 {
  @apply text-3xl mb-3;
}

h3 {
  @apply text-2xl mb-2;
}

/* Link principali */
a {
  @apply text-primary hover:text-accent underline;
}


/* ------------------ RESPONSIVE LOGO IMAGES ------------------ */

.logo {
  display: none;
}

/* Logo per mobile */
@media (max-width: 600px) {
  .logo-mobile {
    display: block;
    padding: 10px;
  }
}

/* Logo per tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .logo-tablet {
    display: block;
    padding: 20px;
    transform: scale(1.4);
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

/* Logo per desktop */
@media (min-width: 1025px) {
  .logo-computer {
    display: block;
    padding: 20px;
    margin-left: 20px;
  }
}
/* ------------------ HEADER ------------------ */
@media (min-width: 767px) {
  .hamburger-menu {
    display: none;
  }
}

.header-single-link-style {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}

/* ------------------ HEADER LINKS ONLY FOR TABLET, LAPTOP AND PC ------------------ */
.header-links {
  display: none;
}

@media (min-width: 768px) {
  .header-links {
    display: block;
    margin-right: 12px;
  }
}


/* ------------------ DRAGGER MENU ------------------ */
.bg-color-header-dragger-menu {
  background-color: #303030;
  height: 98px;
  padding: 0;
  margin: 0;
}

.dragger-menu {
  position: absolute;
  height: 100vh;
  width: 75%;
  z-index: 100;
  top: 0;
  background-color: #303030;
  transition: transform 0.3s ease-in-out;
}

.dragger-menu-open {
  transform: translateX(0);
  right: 0;
}

.dragger-menu-close {
  transform: translateY(-100%);
  right: 0;
}

.links-style {
  text-decoration: none;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright-message {
  display: none;
}

@media (min-height: 600px) {
  .copyright-message {
  display: block;
  font-size: 22px;
  line-height: 1.2;
}
    .margin-github-link {
      margin-top: 10px;
      margin-bottom: 20px;
    }
}


/* ------------------ FOOTER------------------ */
.links-footer {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .copyright {
    font-size: 18px;
  }
}
.copyright-div {
  background-color: #202020;
}

.designed-by {
  color: #ffde59;
  font-size: 20px;
  font-weight: 800;
}

.single-link-footer {
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;
}

@media (min-width: 768px) {
  .copyright-div {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .copyright {
    font-size: 20px;
  }
  .designed-by {
    font-size: 22px;
  }
  .single-link-footer {
    font-size: 30px;
    padding: 6px;
  }
}

.internal-nav-footer {
  display: none;
}
@media (min-width: 1000px) {
  .internal-nav-footer {
    display: block;
    background-color: #202020;
    padding: 2px;
  }
}

.footer-link-internal-nav {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}