@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply bg-white text-gray-900 font-sans;
}

body {
  @apply m-0 p-0;
  font-size: 26px; /* Imposta una dimensione di font base */
  line-height: 1.5; /* Spaziatura tra le righe */
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold leading-tight;
}

h1 {
  @apply text-4xl mb-4; /* Dimensione e margine inferiore */
}

h2 {
  @apply text-3xl mb-3;
}

h3 {
  @apply text-2xl mb-2;
}

/* Link principali */
a {
  @apply text-primary hover:text-accent underline;
}


/* ------------------ RESPONSIVE LOGO IMAGES ------------------ */

.logo {
  display: none;
}

/* Logo per mobile */
@media (max-width: 600px) {
  .logo-mobile {
    display: block;
    padding: 10px;
  }
}

/* Logo per tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .logo-tablet {
    display: block;
    padding: 20px;
    transform: scale(1.4);
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

/* Logo per desktop */
@media (min-width: 1025px) {
  .logo-computer {
    display: block;
    padding: 20px;
    margin-left: 20px;

  }
}